@{
    ViewData["Title"] = "Carrito de compras";
    ViewData["SubTitle"] = "Listado";
}

<h2 class="text-center mb-3">@ViewData["Title"]<small class="text-muted fs-5">@ViewData["SubTitle"]</small></h2>

<div class="row small mb-3">
    <div class="col text-end">
        Mostrando 0 elementos
    </div>
</div>

<div class="mt-5">
    <div class="alert alert-warning" role="alert">
        No se han encontrado elementos. Inténtalo de nuevo más tarde.
    </div>
</div>